@charset "UTF-8";



table {
  border-collapse: collapse;
}

p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 60px auto 40px;
}



input[type="button"],
select,
textarea,
button {
  width: 200px;
height: 50px;
background-color: #c0c0c0;

top: 50px;
font-size:25px;

}

input[type="text"],
textarea {
  background-color: #f8f8f8;
  display: block;
  font-size: 16px;
  padding: 12px 15px;
  width: 260px;
  transition: 0.8s;
  border-radius: 0;


}

input[type="password"],
textarea {
  background: #f8f8f8;
  display: block;
  font-size: 16px;
  padding: 12px 15px;
  width: 180px;
  transition: 0.8s;
  border-radius: 0;
}

input[type="email"],
textarea {
  background: #f8f8f8;
  display: block;
  font-size: 16px;
  padding: 12px 15px;
  width: 180px;
  transition: 0.8s;
  border-radius: 0;
}
input[type="date"],
textarea {
  background: #f8f8f8;
  display: block;
  font-size: 16px;
  padding: 12px 15px;
  width: 180px;
  transition: 0.8s;
  border-radius: 0
}
input[type="tel"],
textarea {
  background: #f8f8f8;
  display: block;
  font-size: 16px;
  padding: 12px 15px;
  width: 180px;
  transition: 0.8s;
  border-radius: 0;
}
input[type="number"],
textarea {
  background: #f8f8f8;
    display: block;
    font-size: 16px;
    padding: 12px 15px;
    width: 261px;
    height: 5px;
    transition: 0.8s;
    border-radius: 0;
}

input[type="text"]:focus,
textarea:focus {
  background: #e9f5fb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

textarea[name="content"] {
  display: inline-block;
  width: 100%;
  height: 200px;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
}

::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}

.form-table {
    width: 100px;
}

.form-table th,
.form-table td {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding: 10px;
}
input[type="radio"], textarea {
    width: 40px;
    height: 34px;
    vertical-align: middle;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
}
input[type="submit"],  button {
   width: 150px;
    height: 47px;
    background-color:#c0c0c0;
    color:#f8f8f8;
    position: absolute;
    top: 1251px;
    left: 538px;
    font-size: 20px;
}

input[type="reset"],  button {
   width: 150px;
    height: 47px;
    background-color: #c0c0c0;
    color: #f8f8f8;
    position: absolute;
    top: 1251px;
    left: 290px;
    font-size: 20px;
}
.form-table th {
    background: #ffecea;
    padding: 29px 64px 29px 17px;
    position: inherit;
    text-align: center;
    width: 100%;

}

.fonts{
	-webkit-transform:  translateX(18%);
	padding: 7px 273.5px 13px;
	zoom: 114%;
}

